<!-- This is my Header Start

<a routerLink="games">games</a>

<a routerLink="games/5fd422b3d5ad149988baf728">gamesOne</a>


<form action="about">
    <button type="submit">About</button>
</form>
Header End -->

<BR/>

<router-outlet></router-outlet>

<BR/> 

<footer class="footer">
    <div class="container">
        <p class="test-muted text-center">
            <a href="https://compro.miu.edu" target="_blank">
                <img src="./images/compro-web-logo-442x112.png" height="60" alt="MIU compro">
            </a>
            <br>
            <small class="text black-50 text-center">
                &copy; 2021 Maharishi International University. All Rights Reserved.
            </small>
        </p>
    </div>
</footer>
