
<div ng-if="vm.isLoggedIn()"></div>
<H1>{{vm.title}}</H1>

<ul>
    <li ng-repeat="game in vm.games">        
       
        <a ng-href="#!/game/{{game._id}}">{{game.title}} </a>

        
  <a ng-href="#!/delete/game/{{game._id}}" class="btn-danger"> Delete Game</a> 
       

    </li>
</ul>

<form name="vm.gameForm" ng-submit="vm.postGame()">
    To add a new game please fill in all the fields below:<BR />
    Title: <input type="text" name="title" required ng-model="vm.newGameTitle" style="color:black" /><BR />
    Price: <input type="text" name="price" required ng-model="vm.newGamePrice" style="color:black" /><BR />
    Year of Publication: <input type="text" name="year" required ng-model="vm.newGameYear" style="color:black" /><BR />
    Rate: <input type="text" name="rate" required ng-model="vm.newGameRating" style="color:black" /><BR />
    Minimum Number of Players: <input type="text" name="minPlayers" required ng-model="vm.newGameMinPlayers"
        style="color:black" />
    <span ng-show="vm.gameForm.minPlayers.$dirty &&
        vm.gameForm.minPlayers.$invalid && vm.gameForm.isSubmitted" style="color:black">Minimum players must be at
        least 1.</span>
    <BR />
    Maximum Number of Players: <input type="text" name="maxPlayers" required ng-model="vm.newGameMaxPlayers"
        style="color:black" /><BR />
    Minimum Recommended Player Age: <input type="text" name="minAge" required ng-model="vm.newGameMinAge"
        style="color:black" /><BR />
    Designer name: <input type="text" name="designer" required ng-model="vm.newGameDesigner" style="color:black" /><BR />
    <button type="submit" class="btn-success">Add Game</button><BR />
</form>



