
    <div class="sidenav">
      <div class="login-main-text">
         <h1>Mean Student Attendance Application<br>
           <p>Student Login</p><br>
        <p>Faculty login</p></h1><br>
         <h2 style="color:bisque;"><p>Login or register </p></h2>
      </div>
   </div>



 <div class="main">

   <div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Sing In</div>
                <div class="card-body">
                    <!-- <form action="" method=""> -->


                       <form>

                        
                        <form action="studentspage" method="GET">
                          <div class="form-group">
                             <label>User Name</label>
                             <input type="text" class="form-control" placeholder="User Name">
                          </div>
                          <div class="form-group">
                             <label>Password</label>
                             <input type="password" class="form-control" placeholder="Password">
                          </div>
                          <a href="studentspage" style="color:aqua;" title="" class="forgot-pwd">Login As Student</a><br>
                          <!-- <button type="submit" class="btn btn-black">Login As Student</button> -->
                       
                          <a href="students/getall" style="color:aqua;" title="" class="forgot-pwd">Log in as Faculty?</a><br>
                          <a href="register" class="btn btn-secondary">Register</a>
                       </form>

                        
                        <div class="col-md-6 offset-md-4">
                
                             <form action="/api/logdin">

                           
                            </form>

                            <a href="#" class="btn btn-link">
                                Forgot Your password?
                            </a>
                          
                        </div>

                       </form>
                </div>

           
        
                
            
            </div>
        </div>
    </div>
</div>
 </div>


   


