<H3 style="text-align: center;">Students Home  Page</H3>

<div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="/login" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="students/qrcode" role="tab" aria-controls="contact" aria-selected="false">QR Code</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="students/update" role="tab" aria-controls="profile" aria-selected="false"> Update Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="students/courses" role="tab" aria-controls="profile" aria-selected="false"> Choose More Courses</a>
    </li>
    
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>
</div>
<div class="row col-md-6 col-md-offset-2 custyle">
<table class="table table-striped custab">
  <thead>
  
      <tr>
          <th><h1>ID</h1></th>
          <th><h1>First Name</h1></th>
          <th><h1>Last Name</h1></th>
          <th><h1>Student Id</h1></th>
          <th><h1>Student Entry</h1></th>
          
      </tr>
   </thead>

<thead></thead>
            <tr>
              <td><h2>5fd422b3d5ad149988baf729</h2></td>
              <td><h1>wegahta</h1></td>
              <td><h1>Gebrehawaryat</h1></td>
              <td><h1>110973</h1></td>
              <td><h1>Fall</h1></td>
              <td class="text-center">
                  <!-- <a class='btn btn-info btn-xs' href="students/update"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a> -->
                  <!-- <a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Add QR gen secret</a> -->
              </td>
            </tr>

         



  </table>
</div>
